<nav class="navbar background">
  <!-- we have used list tag that is ul
       to list the items-->
  <ul class="nav-list">
    <li><a href="#Car">Home</a></li>
    <li><a href="#file">Productos</a></li>
  </ul>
  <!-- we have used rightnav in order to design
       the seachbar properly by using CSS-->
  <div class="rightNav">
    <!-- the value that search bar will take is text -->
    <input type="text" name="search" id="search" />
    <button class="mat-button">buscar</button>
  </div>
</nav>
